server {
    listen 80;
    server_name {{ http_host }} www.{{ http_host }};

    # Root folder
    root /var/www/html/wordpress;

    # Default file
    index index.php;

    include snippets/well-known;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # Add a slash at the end of request */wp-admin
    rewrite /wp-admin$ $scheme://$host$uri/ permanent;
    
    # Deny files starting with a . (dot)
    location ~ /\. {
        deny all;
    }

    # PHP handling with FPM
    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
